<!-- This file contains the Nav tag code-->

<!--
    Now the Head and Nav parts in each view file was same so its not efficient 
    to rewrite the code in every view (that is same). Also if we have to change anycode
    we can easily do it if we store the same code in a partial file and then
    import it whenever required.
-->

<nav>
    <div class="site-title">
        <a href="/"><h1>Blog Bento</h1></a>
        <p>The action of burping is called <u>Eructation</u>.</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>
