<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me Page</title>
</head>
<body>
    <h1>About Me</h1>
    <hr>
    <marquee><font color = "golden">Kyodaina desu</font></marquee>
    <p>The liver is an incredible organ being largest gland and the only organ capable of regeneration.
        The countless functions of liver include creation and secretion of bile, filtering of toxins, storing glucose, producing colestrol and much more.
    </p>
    <br>
    <a href = "/error">error</a>
</body>
</html>