<!--This is a simple view using basic HTML-->

<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs'); %>
<body>
    <%- include('./partials/nav.ejs'); %>
    <div class="err content">
        <h2>404 Error</h2>
        <marquee>OOPS!</marquee>
        <p>The page you are looking for is not found.</p>
    </div>
    <%- include('./partials/footer.ejs'); %>

</body>
</html>