
*{
    margin: 0;
    text-decoration: none;
    color: #222;
}
body{
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}
/*Nav and Footer styles*/
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav li{
    list-style-type: none;
    margin-left: 20px;
}

nav h1{
    font-size: 3em;
}

nav p, nav a{
    color: #777;
    font-weight: 300;
}

footer{
    color: #777;
    text-align: center;
    margin-top: 20px;
    margin: 20px auto 20px;
}

h2{
    margin-bottom: 40px;
}

h3,p{
    margin-bottom: 10px;
}

.content{
    margin-left: 20px;
}

.create-blog form{
    max-width: 400px;
    margin: 0 auto;
}

.create-blog input,
.create-blog textarea{
    display: block;
    width: 100%;
    margin:10px 0;
    padding: 8px;
}

.create-blog label{
    display: block;
    margin-top: 24px;
}

textarea{
    height:120px;
}

.create-blog button{
    margin-top: 20px;
    background: #dc143c;
    color:#fff;
    padding:6px;
    border: 0;
    font-size: 1.2em;
    cursor:pointer;
}

.blogs a{
    display: block;
    margin: 40px 0;
    padding-left: 30px;
    border-left: 6px solid #dc143c;
}

.blogs a:hover h3{
    color: #dc143c;
}

/* .details{
    position: relative;
} */

.delete{
    /* position: absolute;
    top: 0;
    right: 0; */
    border-radius: 0 5px 5px 0;
    padding: 8px;
    margin-left: 20px;
    border-left: 5px solid #dc143c;
}

.back{
    border-radius: 0 5px 5px 0;
    margin-left: 20px;
    border-left: 5px solid #483d8b ;
    padding: 8px;
}
.back:hover{
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 2px 3px #0004;
    color:#483d8b;
}
.delete:hover{
    cursor: pointer;
    border-radius: 5px ;
    box-shadow: 1px 2px 3px #0004;
    color: #dc143c;
}